.chaptercontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem;
  background-color: rgb(255, 255, 255);
  flex-wrap: wrap; 
}

.chapterimage {
  flex: 0 0 20rem; 
  max-width: 25rem;
}

.chapterimage img {
  width: 100%;   
  height: 30%;
  border-radius: 0.625rem;
}
.chapterimageWie {
  flex: 0 0 20rem; 
  max-width: 25rem;
}

.chapterimageWie img {
  width: 100%;   
  height: auto;
  border-radius: 0.625rem;
}

.chaptercontent {
  flex: 1;        
  min-width: 10rem; 

}

.chaptercontent h2 {
  font-size: 1.8rem;  
  margin-bottom: 1rem;
}

.chaptercontent p {
  font-size: 1vw rem;  
  color: #2f2f2f;
  line-height: 1.6;
}


@media (max-width: 48rem) {
  .chaptercontainer {
    flex-direction: column;
    text-align: center;
    padding: 1.5rem;
  }

  .chapterimage,
  .chaptercontent {
    flex: 0 0 100%;   
    max-width: 100%;
  }

  .chapterimage img {
    width: 70%;     
    margin: 0 auto 1rem auto;
  }

  .chaptercontent h2 {
    font-size: 1.5rem;
  }

  .chaptercontent p {
    font-size: 1rem;
  }
}