.chapterNavbar {
  position: sticky;
  top: 0;
  padding: 1rem;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.chapterNavbarLink {
  text-decoration: none;
  cursor: pointer;
  margin: 0 1rem;
  padding: 0.5rem 1.4rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.9rem rgba(255, 255, 255, 0.2);
  transition: transform 0.3s ease, box-shadow 0.7s ease, color 0.5s ease;
  font-size: 0.9rem;
  font-weight: 600;
}

.chapterNavbarLink:hover {
  color: white !important;
  box-shadow: 0 0 1.3rem rgba(255, 255, 255, 0.8);
  transform: translateY(-1.5px);
}

.backBtn {
  position: absolute;
  left: 1rem;
}

.desktopLinks {
  display: flex;
}

.mobileMenuBtn {
  display: none;
  background: none;
  border-radius: 0.2rem;
  cursor: pointer;
  padding: 0.3rem;
  margin-left: 1rem;
  box-shadow: 0 0 0.9rem rgba(255, 255, 255, 0.2);
}

.mobileLinks {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  gap: 0.5rem;
  padding: 0.8rem;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
}

.chapterBackdrop {
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: cover, 37.5% auto, cover;   
    background-position: center, 50% 70%, center;
    background-attachment: fixed, fixed, fixed;
    position: relative;
    min-height: 100vh; 
}

.chapterTitle {
    padding-top: 8rem;
    font-size: 3.8rem;
    display: flex;
    justify-content: center;
    font-weight: 600;
    letter-spacing: 0.2rem;
    text-shadow: 0.5rem 0.5rem 0.75rem rgba(0, 0, 0, 0.7);
    -webkit-text-stroke: 2.5px black;
}

.infoContainer {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    padding: 5rem 0;
    background-color: rgba(20, 20, 40, 0.8);
    border-radius: 1rem;
    border: 0.3rem solid black;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.infoContainer:hover {
    transform: translateY(-0.6rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.6);
}

.glowSpan {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(255,255,255, 0.5) 50%, rgba(0, 0, 0, 0) 100%);
    transform: translateX(-120%);
    pointer-events: none;
    color: white;
}

.infoHeading {
    margin-bottom: 2.5rem;
    font-size: 3rem;
    font-weight: 900;
    text-shadow: 0 0rem 1rem rgb(209, 183, 183);
}

.infoContent {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.8;
}

.infoContentBenefits {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.8;
    text-align: justify;
}

.formMessage {
    margin-top: 3rem;
    margin-bottom: 1.25rem;
    font-size: 3rem;
    font-weight: 700;
    -webkit-text-stroke: 2px black;
}

.formButton {
    padding: 0.7rem 1.5rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 0.3rem;
    color: white;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.contactBox {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2.5rem 1.25rem;
    overflow: hidden;
    transition: 0.4s ease;
}

.contactBox:hover {
    transform: scale(1.01);
}

.infoContainer:hover .glowSpan, .contactBox:hover .glowSpan {
    animation: glowEffect 1s ease;
}

@keyframes glowEffect {
  0% {transform: translateX(-100%); opacity: 0;} 30% {opacity: 0.3;} 70% {opacity: 0.5;} 100% {transform: translateX(100%); opacity: 0;}
}

.contactInfo {
    margin: 1rem auto 0;
    font-size: 1.1rem;
}

.socialIconsContainer {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}


.socialIconsContainer a {
    transition: transform 0.3s ease;
}

.socialIconsContainer a:hover {
    transform: scale(1.1);
}

.innerContainer {
  position: relative;
  padding: 12rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.carousel {
  position: absolute;
  width: 20rem; 
  height: 12rem; 
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
}

.cardImg {
  height: auto;
  width: auto;
  max-width: 85%;
  max-height: 85%;
  border-radius: 0.3rem;
  object-fit: cover;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

.carouselContainer {
    position: relative;
    width: 100%;
    max-width: 900px;
    margin: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carouselTrack {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 600px;
    width: 100%;
}

.carouselSlide {
    position: absolute;
    opacity: 0;
    transform: scale(0.8);
    transition: all 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border-radius: calc(12px + 6px);
    border: 4px solid black;
    overflow: hidden;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 600px;
}

.carouselSlide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    border-radius: 0.8rem;
    background: white;
    transition: all 0.4s ease-in-out;
}

.carouselSlide img:hover {
    transform: scale(1.08);
}

.active {
    opacity: 1;
    transform: scale(1) !important;
    z-index: 2;
}

.active:hover {
    background: white;
}

.hidden {
    opacity: 0;
    transform: scale(0.8);
    z-index: 0;
}

.carouselBtnPrev, .carouselBtnNext {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    padding: 0.8rem 1.2rem;
    cursor: pointer;
    border-radius: 50%;
    z-index: 3;
    transition: all 0.3s ease;
    backdrop-filter: blur(10px);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carouselBtnPrev:hover, .carouselBtnNext:hover {
    background: rgba(0, 0, 0, 0.8);
    transform: translateY(-50%) scale(1.1);
}

.carouselBtnPrev:active, .carouselBtnNext:active {
    transform: translateY(-50%) scale(0.95);
}

.carouselBtnPrev {
    left: 0.5rem;
}

.carouselBtnNext {
    right: 0.5rem;
}


/* mobile responsiveness */

@media (max-width: 768px) {
    .desktopLinks {display: none;}
    .mobileMenuBtn {display: block;}

    .chapterBackdrop {background-size: cover, 60% auto, cover; background-position: center, 50% 55%, center;}
    .chapterTitle {margin-top: 1.5rem; text-align: center; font-size: 2.4rem; letter-spacing: 0.1rem; -webkit-text-stroke: 1.5px black;}
    .infoContainer {padding: 2.5rem 0; border: 0.2rem solid black;}
    .infoHeading {font-size: 2rem;}
    .infoContent {font-size: 0.9rem; line-height: 1.5; padding: 1rem; text-align: left;}
    .infoContentBenefits {font-size: 0.9rem; line-height: 1.5; padding: 0 1rem; text-align: left;}
    .formMessage {font-size: 1.2rem; margin-top: 1.5rem; -webkit-text-stroke: 0;}
    .formButton {padding: 0.5rem 1rem;}
    .innerContainer {padding: 8rem;}
    .cardImg {width: 70vw;}

    .carouselSlide {width: 400px; height: 500px; border: 3px solid black;}
    .carouselTrack {height: 500px;}
    .carouselBtnPrev, .carouselBtnNext {width: 40px; height: 40px; font-size: 1.5rem; padding: 0.5rem;}
}

@media (max-width: 480px) {
    .carouselSlide {width: 320px; height: 400px;}
    .carouselTrack {height: 400px;}
}

@media (min-width: 2200px) {
    .innerContainer {margin: 4rem 0;}
}