@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-heading: 'Montserrat', sans-serif;
  --font-subheading: 'Playfair Display', serif;
  --font-body: 'serif', serif;
  --font-caption: 'Roboto', sans-serif;
  --font-nav: 'Raleway', sans-serif;

}

@layer utilities {
  .font-heading {
    font-family: var(--font-heading);
  }
  .font-subheading {
    font-family: var(--font-subheading);
  }
  .font-body {
    font-family: var(--font-body);
  }
  .font-caption {
    font-family: var(--font-caption);
  }
  .font-nav {
    font-family: var(--font-nav);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #eeecec;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);

}
/* For Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}